* {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
}
.close {
    overflow: hidden;
}

  @font-face {
    font-family: Sahel;
    src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/sahel/sahel.ttf') format('truetype');
    font-weight: normal;
  }
  @font-face {
    font-family: Bamchal;
    src: url(./fonts/MJ_BAMSHAD.TTF);
  }  
body {

    /* background-image: url(./4pages/EDITING_2.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed; */
}

.nav {
    margin: 0 0 0 0;
    padding: 1rem 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 400ms;
    z-index: 1000;
    
}
.scroll {
    background-color: rgba(0, 0, 0, 0.815);
    transition: 400ms;
    padding: 0 0;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 4rem 0 0;
}
.a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    transition: 200ms;
    padding: 0 1rem;
    transition: 400ms;
}
.a img {
    width: 6.9rem;
}
.a:first-child img {
    width: 8rem;
    margin: 0 0 0 2rem;
}
.nav__socials {
    transition: 500ms;
    font-size: 2.5rem;
    display: flex;
    margin: 0 0 0 5rem;
}
.nav__socials .social_media {
    margin: 0 1rem;
}
.scroll .nav__socials {
    margin: 0.5rem 0 0.3rem 5rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.scroll #logo {
    width: 80px;
}
.home-1 {
    background-image: url(./new/home_page.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 106vh;
    margin: 0 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.home-1 .fadebottom {
    display: none;
    width: 100%;
    height: 6rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(0, 0, 0),
        white
    );
}
.fourpages div {
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    height: 110vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.fourpages__head {
    flex: 8;
    font-size: 13rem;
    font-weight: bolder;
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fourpages__def {
    color: white;
    flex: 1;
    display: flex;
    
}
.each__def {
    padding: 20px 0 0 0;
}
.fourpages__design {  
    background-image: url(./4pages/DESIGN.png);
    color: rgba(109, 255, 153, 0.425);
}
.fourpages__editing {  
    background-image: url(./4pages/EDITING_2.jpg);
    color: rgba(44, 179, 241, 0.486);
}
.fourpages__filming {  
    background-image: url(./4pages/FILMING.jpg);
    color: rgba(255, 255, 255, 0.356);
}

.containerr {
    background-color: #23435a;
    margin: 0 0 0 0;
}
.cont {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 0 6rem;
    z-index: 0;
}
.cont .icon_left,.cont .icon_right {
    font-size: 3rem;
}
.icon_right {
    margin: auto 0rem 1.5rem 0;
}
.icon_left {
    margin: 1.5rem 0rem 0 0;
}
.quot {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;
    margin: 0 auto 4rem auto;
    z-index: 1;
}
#cont2 .quot {
    margin: 2.5rem 0 4rem 0;
}
.quot, .author, .text {
    z-index: 0;
}
.quot .text {
    padding: 0.5rem 14rem;
    text-align: right;
}
.quot .author {
    margin: 0rem 14rem;
    padding: 1rem 0;
    border-bottom: rgb(112, 112, 112) solid;
    font-size: 1.2rem;
    font-weight: bolder;
}
.gall {
    position: relative;
    z-index: 100 !important;
    width: 65%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction:  column;
    margin: -2.5rem  auto -2.5rem auto;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.493);
}

.radif {
    display: flex;
    background-color: #e6e6e6;
    transition: 400ms;
}
.morab {
    flex: 3;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column-reverse;
}
.mostat {
    flex: 4;
    text-align: center;
    background-color: rgb(158, 135, 67);
    height: 20rem;
    background-image: url(./desk.jpg);
    display: flex;
    align-items: center;
    filter: grayscale(100%);
    transition: 350ms;
}
.mostat .text {
    opacity: 0;
    transition: 400ms;
    padding: 1rem 1rem;
    margin: auto auto;
    font-size: 1.2rem;
}

.radif:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}
.radif:hover .mostat .text {
    opacity: 1;
}
.radif:hover .mostat  {
    filter: grayscale(0%);
}
#r2 .mostat {
    background-image: url(./deck2);
}
#r3 .mostat {
    background-image: url(./desk3);
}
.gall img {
    width: 18rem
}
.team_container {
    width: 100%;
    display: flex;
    min-height: 80vh;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;

}
.team__row {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    
}
.team__row__head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}
.head__title {
    flex: 1;
    font-size: 20px;
    margin: 0 0rem 0 2rem;
}
.head__khat {
    flex: 2;
    background-color: #02f19a;
    height: 1px;
}
.team__row__body {
    display: flex;
}
.person {
    display: flex;
    justify-content: start;
    max-height: 5.2rem;
    align-items: center;
    margin: 10px 0;
    overflow: hidden;
    width: 250px;
}
.person .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 120px;
    padding: 1rem;
}
.person .name {
    width: 10rem;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}
.person .info {
    color: rgb(97, 96, 96);
    font-weight: bolder;
    font-size: 0.9rem;
    margin: 0 0 -0.6rem 0;
}
.person .img img {
    width: 5.1rem;
    filter: grayscale(100%);
}
.social {
    display: flex;
    overflow: hidden;
    padding: 1rem;
}
.social img {
    width: 1.5rem;
    margin: 0rem 0.5rem;
    filter: grayscale(100%);
    transition: 300ms;
}
.social img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}
.products {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}
.products__col {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.products__poster {
    font-size: 5rem;
    font-weight: bolder;
    color: rgb(92, 216, 164);
    overflow: hidden;
    margin: 0 0 0 2rem;
    /* border-left: solid 4px rgb(92, 216, 164);
    border-bottom: solid 4px rgb(92, 216, 164); */
    padding: 0 0 0rem 1rem;
    font-family: Bamchal;
}
.products_row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.video_product {
    min-width: 25rem;
    overflow: hidden;
    margin: 1rem;
    transition: 350ms;
    
}
#primary_video {
    min-width: 37rem;
}
.video_product:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.493);
    filter: grayscale(0%);
}

.team_container__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.about_us {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.about_us__title {
    color: white;
    font-size: 2rem;
    text-align: right;
    overflow: hidden;
}
.about_us__text {
    padding: 1rem 0;
    max-width: 40rem;
    text-align: right;
    overflow: hidden;
    font-size: 20px;
}
.about_us b {
    color: black;
    padding: 0 1rem;
    background-color: white;
    border-radius: 5px;
}
#contact {
    min-height: 100vh;
}

.filter-menu {
    display: flex;
    justify-content: center;
    font-family: Sahel;
    margin: 1rem 0;
}
.filter-menu li {
    font-size: 1.2rem;
    padding: 7px 15px;
    color: rgba(143, 143, 143, 0.753);
    margin: 0 1.5rem;
    transition: 300ms;
    
}
.filter-menu li.current {
    text-decoration: line-through #02f19996 2px;
    color: rgb(0, 0, 0);
}
.filter-menu li:hover {
    color: rgb(54, 54, 54);
    cursor: pointer;
    
}
.contain_card.delete {
    width: 0;
    height: 0;
    margin-left: -1rem;
    transition: all 1.5s ease;
    opacity: 0;
}
#gradient {
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
#gradient {
    background: linear-gradient(90deg, #ee4545, #e18a36, #f7bb00, #66d74b, #1cdbe7, #3396fa, #c533fa);
    background-size: 1400% 1400%;

    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.typography {
    min-height: 100vh;
    background-color: black;
    background-image: url(./Untitled-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 203vh 110vh ;
}
.aboutPage {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    background-image: url(./cam/PXW-FS5_28135G_Left-fdt.jpg);
    background-repeat: no-repeat;
    background-size: contain ;
}
.aboutPage__poster {
    font-size: 6rem;
    font-weight: bolder;
    text-transform: uppercase;
    min-width: 50%;
    color: #02f19a;
    opacity: 0.67;
    display: flex;
    justify-content: center;
    align-items: center;
    font-stretch: expanded;
    margin: -0rem 0 0 0;
}
.aboutPage__col {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 250px;
}
.aboutPage__col i {
    font-size: 4.5rem;
    color: #02f19a;
    opacity: 0.67;
}
.col__qout {
    font-size: 1.7rem;
    max-width: 17rem;
    font-weight: bolder;
    color: rgb(80, 80, 80);
    line-height: 30px;
    font-stretch: expanded;
    text-transform: uppercase;
    margin: 0 0 3rem 0;
    overflow: hidden;
}
.col__def {
    max-width: 21rem;
    margin: 0 0 2rem 0;
}

section {
    position: relative;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }

.viewport-header {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-family: 'Syncopate', sans-serif;
    color: #4a3a27;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
    
  }

  h1 span {
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
  }
