* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face {
    font-family: 'yekan';
    src:url('../fonts/yekan.eot?#') format(‘eot’),    
          url('../fonts/yekan.woff') format('woff'),
          url(‘../fonts/yekan.ttf’) format(‘truetype’); 
}
@font-face {
    font-family: Tanha;
    src: url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.eot');
    src: url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.eot?#iefix') format('embedded-opentype'),
         url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.woff') format('woff'),
         url('http://fonts.codearena.ir/rastikerdar/tanha/tanha.ttf') format('truetype');
    font-weight: normal;
  }
body {
    font-family: Tanha;
}
.one {
    font-family: Tanha;
}




.nav {
    margin: 55px 0 0 0;
    width: 100%;
    background-color: rgba(46, 46, 46, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    transition: 400ms;
}
.scroll {
    background-color: rgba(46, 46, 46, 0.822);
    transition: 400ms;
}

.poster img {
    width: 6rem;
    padding: 0.6rem 0;
}

.links {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: rgb(184, 184, 184);
    transition: 200ms;
    font-family: Tanha;
}
.a:hover {
    color: rgb(255, 255, 255);
    transform: scaleX(1.05);
}



.home {
    background-image: url(./header-bg.jpg);
    background-size: 210vh 130vh ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: -1rem 0 0 0;
}




nav img {
    width: 5rem;
}
.one {
    background-image: url("WITE.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 92vh;
}
.two {
    color: rgb(255, 255, 255);
    background-color: black;
    background-image: url("wite2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain, cover;
    height: 100vh;
    font-family: Tanha;
}
 .header {
    font-size: 3.5rem;
    text-align: right;
    width: 40rem;
    height: min-content;
    margin: 20px;
    border-right: 10px #bae4eb solid;
    padding-right: 20px;
}
.header:nth-child(1) {
    margin-top: 11rem;
}
.header:nth-child(2) {
    border-right: rgba(172,199,246,255) 10px solid;
}
.header:nth-child(3) {
    border-right: #e2b5ea 10px solid;
}

.two .header {
    border-right: #742c56 10px solid;
}
.two .header:nth-child(1) {
    margin-top: 12rem;
}
.two .header:nth-child(2) {
    border-right: #046e7e 10px solid;
}
.two .header:nth-child(3) {
    border-right: #1d5482 10px solid;
}
.heads {
    margin: 0rem 0rem 0  40rem;
    display: flex;
    flex-direction: column;
}
.roww {
    display: flex;
    align-items: center;
}
.coll {
    flex: 1;
}
.letters {
    display: flex;
    justify-content: space-around;
    border: #000000 solid 20px;
    overflow-x: auto;
    padding: 20px;
    background-color: #000000;
}
.letters img {
    width: 18rem;
    filter: grayscale(100%);
    transition: 450ms;
}
.letters img:hover {
    filter: grayscale(0%);
}
.letter {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: #742c56 solid 1rem;
    border-radius: 5px;
    transition: 300ms;
    background-color: white;
}
.letter:hover {
    transform: scale(1.06);
}
.letter p {
    text-align: center;
    padding: 10px;
}

.social img {
    width: 40rem;
    padding: 2rem 0;
    margin: 0 0 0 3rem;
}
.grid {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    
    font-family: Tanha;
}
.rowww {
    margin: 1rem 6rem 0 28rem;
    display: flex;
    transition: 300ms;
}
.rowww:hover .right {
    transform: translateX(-20rem)
}

.rowww:hover .under, .rowww:hover .text {
    opacity: 1;
}
.left, .right {
    transition: 700ms;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.left, .left_x {
    font-size: 4rem;
    background-color: rgb(255, 255, 255);
}
.right, .right_x {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.right .text {
    opacity: 0;
    transition: 1000ms;
    color: rgb(255, 255, 255);
}
.under {
    margin: 1rem;
    position: relative;
    top: -1rem;
    right: 21rem;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    opacity: 0;
    transition: 900ms;
    text-align: center;
    padding: 2rem 4rem;
    font-size: 2rem;
}
.right img, .right_x img {
    width: 18rem;
}
.squar {
    width: 20rem;
    height: 20rem;
}
.three {
    display: flex;
    background-color: rgb(0, 0, 0);
}
.containerr {
    background-color: rgba(240, 176, 37, 0.767);
    margin: 0 0 0 0;
}
.cont {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 0 6rem;
}
.cont .icon_left,.cont .icon_right {
    font-size: 3rem;
}
.icon_right {
    margin: auto 0rem 1.5rem 0;
}
.icon_left {
    margin: 1.5rem 0rem 0 0;
}
.quot {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;
    margin: 0 auto 4rem auto;
}
.quot .text {
    padding: 0.5rem 14rem;
    text-align: right;
}
.quot .author {
    margin: 0rem 14rem;
    padding: 1rem 0;
    border-bottom: rgb(112, 112, 112) solid;
    font-size: 1.2rem;
    font-weight: bolder;
}
.gall {
    width: 65%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction:  column;
    margin: -2.5rem  auto 1rem auto;
}


.radif {
    display: flex;
    background-color: #e6e6e6;
    transition: 400ms;
}
.morab {
    flex: 3;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column-reverse;
}
.mostat {
    flex: 4;
    text-align: center;
    background-color: rgb(158, 135, 67);
    height: 20rem;
    background-image: url(./desk.jpg);
    display: flex;
    align-items: center;
}
.mostat .text {
    opacity: 0;
    transition: 400ms;
    padding: 1rem 1rem;
    margin: auto auto;
    font-size: 1.2rem;
}

.radif:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}
.radif:hover .mostat .text {
    opacity: 1;
}
#r2 .mostat {
    background-image: url(./deck2);
}
#r3 .mostat {
    background-image: url(./desk3);
}
.gall img {
    width: 18rem
}
.team_container {
    width: 100%;
}
 .head {
    font-size: 3.5rem;
    background-color: rgb(36, 36, 36);
    color: rgba(233, 187, 62, 0.938);
    width: 100%;
    margin: 0 0 0 auto;
    text-align: center;
    
}
.team {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.person .name {
    font-size: 1.8rem;
    font-weight: bolder;
}
.person .info {
    color: rgb(97, 96, 96);
    font-weight: bolder;
    font-size: 1.2rem;
}
.person .img img {
    width: 10rem;
    border: solid rgb(141, 141, 141) 6px ;
    border-radius: 50%;
}
.social {
    display: flex;
    overflow: hidden;
}
.social img {
    width: 2.5rem;
    margin: 0rem 0.5rem;
    filter: grayscale(100%);
    transition: 300ms;
}
.social img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

a:active {
    color: rgb(180, 0, 0);
}