@media screen and (max-width: 450px) {
    .fourpages__head {
        font-size: 80px;
    }
    .typography {
        background-size: contain;
        max-height: 100vw;
    }
    .aboutPage {
        height: unset;
        background-size: cover contain;
        background-position: -340px -30px;
    }
    .aboutPage__poster {
        font-size: 80px;
    }
    .photo-grid {
        flex-direction: column;
      }
      .contain_card, .card {
        width: 70vw;
        height: 70vw;
    }
    .filter-menu {
        flex-direction: column;
        align-items: center;
    }
    .filter-menu li.current {
        font-size: 1.5rem;
    }
    .team__row__body {
        display: flex;
        flex-direction: column;
    }
    .teamPage__poster {
        font-size: 80px;
        position: initial;
    }
    .team__background {
        position: initial;
    }
    .team__background img {
        width: 100%;
    }
}