@media screen and (max-width: 450px) {
    .fourpages__head {
        font-size: 80px;
    }
    .photo-grid {
        flex-direction: column;
      }
      .contain_card, .card {
        width: 70vw;
        height: 70vw;
    }
    .filter-menu {
        flex-direction: column;
        align-items: center;
    }
    .filter-menu li.current {
        font-size: 1.5rem;
    }
}