@media screen and (max-width: 450px) {
    .home-1 .banner {
        width: auto;
        position: relative;
        top: 290px;
        left: 30px;
        height: 50vh;
    }
    .home-1 .up {
        font-size: 25px;
        letter-spacing: 15px;
        margin: 0 0 0 10px;
    }
    .up i {
        font-size: 30px;
    }
    .home-1 .khat {
        width: 50%;
        height: 2px;
        background-color: #d9e8f8;
        transition: 400ms;
    }
    .home-1 .down {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0 0;
        justify-content: center;
    }
    .down h5 {
        font-size: 30px;
        overflow: hidden;
        margin: 0 0;
    }
    .scroll_banner .down {
        transform: translate(0px, -120%);
        overflow: visible;
    }
    .scroll_banner .up {
        overflow: visible;
        transform: translate(0px, 100%);
        letter-spacing: 15px;
    }
    .fourpages__head {
        font-size: 80px;
    }
    .typography {
        background-size: contain;
        max-height: 100vw;
    }
    .aboutPage {
        height: unset;
        background-size: cover contain;
        background-position: -340px -30px;
    }
    .aboutPage__poster {
        font-size: 80px;
    }
    .photo-grid {
        flex-direction: column;
      }
      .contain_card, .card {
        width: 70vw;
        height: 70vw;
    }
    .filter-menu {
        flex-direction: column;
        align-items: center;
    }
    .filter-menu li.current {
        font-size: 1.5rem;
    }
    .team {
        position: relative;
        display: initial;
        left: 80px;
        top: -150px;
    }
    .team__row__body {
        display: flex;
        flex-direction: column;
    }
    .teamPage__poster {
        font-size: 80px;
        position: relative;
        top: -220px;
    }
    .team__background {
        position: initial;
    }
    .team__background img {
        width: 100%;
    }
}